<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>在庫管理アプリ</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>📦 在庫管理アプリ</h1>
  
  <form action="/" method="POST" class="register-form">
    <h2>新規登録</h2>

    <label class="form-label">商品名</label>
    <input type="text" name="name" class="form-input">

    <label class="form-label">カテゴリ</label>
    <select name="category" class="form-select">
      <option value="食品">食品</option>
      <option value="飲み物">飲み物</option>
      <option value="日用品">日用品</option>
      <option value="雑貨">雑貨</option>
    </select>

    <label class="form-label">在庫数</label>
    <input type="number" name="stock" class="form-input">

    <label class="form-label">価格</label>
    <input type="number" name="price" class="form-input">

    <button type="submit" class="add-button">登録</button>
  </form>

  <h2 class="section-title">商品検索</h2>
  <form method="GET" class="search-form">
    <input type="text" name="search" value="{{ search }}" placeholder="商品名検索">
    <select name="category">
          <option value="">すべて</option>
          <option value="食品" {% if category == "食品" %}selected{% endif %}>食品</option>
          <option value="飲み物" {% if category == "飲み物" %}selected{% endif %}>飲み物</option>
          <option value="日用品" {% if category == "日用品" %}selected{% endif %}>日用品</option>
          <option value="雑貨" {% if category == "雑貨" %}selected{% endif %}>雑貨</option>
    </select>
    <button type="submit" class="search-button">検索</button>
  </form>

  <a href="/" class="clear-search">検索解除</a>

  <h2 class="section-title item-list-title">商品一覧</h2>
  <div class="item-list">
    {% for item in items %}
      <div class="item-card">
        <h3>商品名：{{ item[1] }}</h3>
        <p>カテゴリ：{{ item[2] }}</p>
        <p>在庫：{{ item[3] }}</p>

        {% if item[3] | int == 0 %}
            <p class="out-of-stock">🚫在庫切れ</p>

        {% elif item[3] | int <= 5 %}
            <p class="low-stock">⚠️残りわずか</p>
        {% endif %}

        <p>価格：{{ item[4] }}</p>
        <a href="/edit/{{ item[0] }}" class="edit-button">編集</a>
        <a href="/delete/{{ item[0] }}" class="delete-button">削除</a>
        
      </div>
    {% endfor %}
  </div>
</body>
</html>